<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandra James - Realtor</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">

        <h1>Sandra James</h1>
        <h3>Licensed Realtor</h3>
        <h4>(602) 499-3485</h4>
        <div class="Contact-buttons">
            <a class="btn" href="tel:602-499-3485">CALL ME</a>
            <a class="btn" href="mailto: sjames3boys@aol.com">EMAIL ME</a>
        </div>
        <div class="imgbox">
            <img class="img-1" src="https://docs.virtusmart.com/document/396c514a4d297579b3a4290201f8986b" alt="SandraJames">
        </div>
        <a class="btn" id="properties" href="https://homesmart.com/real-estate-agent/arizona/gilbert/9564-sandra-james/properties">View my Properties</a>
        <br>
        <img class="hsLogo" src="https://homesmart.com/wp-content/themes/whtlux2016/imgs/hslogo.svg" alt="HomeSmartLogo">

        <p>HomeSmart Gilbert (CRIL11)</p>
           <p> 2680 South Val Vista Drive, Suite 101
            Gilbert, AZ 85295</p>

    </div>
    
</body>
</html>

