#properties {
	margin-top: 5px;
}

/* @media screen and (max-width: 479px) {
	.container {
		width: 100%;
	}
} */

.container {
	border: 0.5px red solid;
	border-radius: 2rem;
	margin: auto;
	padding: 2rem;
	width: 600px;
	box-sizing: border-box;
	text-align: center;
	box-shadow: 5px 10px 8px 10px #888888;
}

@media screen and (max-width: 600px) {
	.container {
		width: 100%;
	}
}

.Contact-buttons {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.img-1 {
	width: 8rem;
	height: 12rem;
	margin-bottom: 20px;
}

.btn {
	background: #dbe6f6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #c5796d, #dbe6f6); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#c5796d,
		#dbe6f6
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 15px;
	width: 115px;
	height: 25px;
	padding: 10px;
	text-decoration: none;
	color: #333333;
	box-shadow: ;
	margin: 5px;
}

a:active {
	box-shadow: 5px 10px 20px red inset;
}

.hsLogo {
	height: 200px;
	width: 100%;
	margin-top: 15px;
}
